@import url("./include/include.css");

/* create & edit ページ */

body{
  background-color: rgb(164, 164, 164);

}

main{
  background-color: rgb(229, 218, 190);
}

.feed{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  margin: 0 10%;
  flex-wrap: wrap;
}

.article{
  border: solid gray 1px;
  margin: 3px;
  background-color: aliceblue;
  width: 30%;
  max-height:400px ;

}

img{
  max-width: 100%;
  object-fit: cover;
  height: 250px;
}

.article:not(img){
  padding: 10px}

.contents{
  /* width: 200px; */
  /* margin: 20px 0; */
}

h1{
  color: black;
  margin: 3px 0;
 
}

/* create page */
.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}

.form-control{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
}


input[type="file"] {
  display: none;
}

.justify-content-end button{
  border: none;
  background: rgba(253, 195, 87, 0.836);
  padding: .5rem .8rem;
  border-radius: .2em; 
}
.justify-content-end{
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
} 

.custom-file-label {
  border: 1px gray solid;
  padding: 0.5em 20em;
  background: white;
  position: relative;
  
}


.custom-file-label {
  color: rgba(85, 107, 47, 0.557);
  padding-left: 1em;
}

/* index ページ */

/* カードの題名 */
 .topic{
  font-size: 12px;
}
.explanation{
  font-size: 12px;
} 


